@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
progress {    
    width: 210%;
    height: 20px;
    background: crimson;
  }
  
  progress {
    color: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: red;
  }
  
  progress::-moz-progress-bar {
    background: white;
  }
  
  progress::-webkit-progress-value {
    background: red;
  }
  
  progress::-webkit-progress-bar {
    background: white;
  }
body{
    font-family: 'Indie Flower', cursive;
    background: #000;
} 
main{
    background: url(kino.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    
    
}
.container{
    box-sizing:border-box;
    background-color: rgba(0,0,0,1.0);
    border: 1px solid;
    padding: 60px;
    box-shadow: 5px 10px red;
    opacity: 0.8;
    width: 40%;
    

}
main .registration {
color: white;
}

.registration h1{
    font-size: 70px;
   
}


form{
    background: transparent;
    color: yellow;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    color: white;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    width: 200%;
  
    
}
.username, .password, .re-password, .telephone, .zipcode{
    border-bottom: 1px solid white;
}
.button{
    background: transparent;
    border: 4px solid white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    

}

.button:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

input:disabled.button{
    background-color: #fff;
    color: #000;
    cursor: not-allowed;
    opacity: 0.5;
}



.registration h4{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 100%;
}